<div class="containers">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="assets/img/generic_avatar.png" alt="login" id="homeAvatarPicture">
          </div>
        </div>
        <div class="col context-menu" *ngIf="user">
          <b>{{user.nick}}</b>
          <div>
            <span>{{user.state}}</span>
            <br>
            <span>
              < {{user.subnick}}>
            </span>
            <br>
            <a (click)="logOut()" class="pointer">logOut</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Buscar amigo" [(ngModel)]="query" class="form-control">
      </div>
      <div class="col-md-auto">
        <img src="/assets/img/logo_live_add.png" class="icon" alt="add">
      </div>
    </div>
    <hr>
    <b class="context-menu" *ngIf="friends">Amigos ({{friends.length - 1}} / {{friends.length - 1}})</b>
    <div *ngFor="let friend of friends | search: query; let i = index" class="disblo marbo5">
      <span  class="pointer" *ngIf="friend.uid != user.uid" routerLink="/conversation/{{friend.uid}}">
        <img id="status" src="assets/img/logo_live_{{friend.state}}.png" alt="status" class="icon">
        <b>{{friend.nick}}</b> - {{friend.subnick || 'No subnick'}} <small>{{friend.email}}</small>
      </span>
    </div>
  </div>
</div>
